{{> head }}
{{> navbar }}

  <div class="row">
    <div class="col-8">
      Demonio de Tazmania
    </div>
    
    <div class="col-4">
      <img src="assets/images/taz.jpg" class="img-fluid" alt="Responsive image">
    </div> 

  </div>

{{> footer}}